# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. PYTHON
2. R
3. SQL
4. JAVA
5. C++
6. JULIA
7. PHP
8. GO
9. RUBY
10. VISUAL BASIC

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. numpy
3. Matplotlib
4. seaborn
5. scikit-learn
6. keras
7. tensorflow
8. pyTorch
9. Apache Spark
10. vegas

| Data Science Tool |
|------------------|
| Jupyter notebook |
| Rstudio |
| Anaconda |
| Spyder |
| zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

#### Objectives:

- Introduction
- List of popular languages used in Data Science
- List of common libraries used in Data Science
- Examples of evaluating arithmetic expressions in Python

## Author 
Amey R.K